/*! Darvin Beats Style */
body {
    margin: auto;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

/*! Header */
header {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 25px;
    text-align: center;
    padding-top: 50px;
    color: aliceblue;
}
header .headlogo {
    background: url("/images/darvinbeatslogorend.png");
    height: 100px;
    width: 100px;
}
header h1 {
    font-size: 40px;
}
header strong {
    color: aliceblue;
}
header .headertext {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.discount {
    text-decoration: line-through;
    font-style: italic;
}
.shopcart {
    font-size: 24px;
}
.shopcart:before {
    content: "";
}